* {
  font-family: "Meshed Display", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: #F1F1EF;
  margin: 2rem 3rem 2rem 3rem;
  height: 100vh;
  color: black;
}

.logo {
  float: left !important;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}

li a:hover {
  opacity: 70%;
}

ul a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(20, 20, 20);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

ul a:hover:after {
  width: 100%;
  left: 0;
}

a {
  text-decoration: none;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

@media (max-width: 600px) {
  .body {
    margin: 0;
  }
  .hamburger {
    display: block;
    float: right;
    margin-top: 1rem;
    margin-right: 1.5rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    gap: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    padding-top: 4rem;
    text-align: center;
    font-style: italic;
    transition: 0.3s;
    padding-left: 0;
  }

  #logo {
    display: none;
  }

  .nav-item {
    color: white;
    font-size: 4rem;
  }

  .nav-menu.active {
    left: 0;
    margin-top: 0;
  }

  .nav-container ul {
    margin-left: 0;
  }

  .hero-right img {
    z-index: -1;
  }
}
.hero-container {
  width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero-right {
  width: 50vw;
  justify-content: center;
  display: flex;
  padding-top: 1rem;
  position: relative;
}

.hero-right img{
  width: 100%;
  height: auto;
  width: auto;
}

.hero-left {
  width: 50vw;
padding:15% 0 0 2vw;
}

.hero-left h1 {
  font-size: 4em;
  margin-bottom: 1rem;
  font-weight: 300;
}

.fa-brands {
  color: black;
}

.about {
  width: 100vw;
}


.about-container {
  padding-top: 5rem;
  display: flex;
}

.about-container h3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid black;
}

.about-container p {
  font-weight: 300;
  text-align: center;
  font-size: 3rem;
  margin: 6rem 4rem 6rem 4rem;
  line-height: 3rem;

}

.description em {
  font-style: italic;
  font-weight: 300;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 4rem 0;
}

.portfolio-one,
.portfolio-two,
.portfolio-three {
  padding: 2rem;
  display: flex;
}

.text-container {
  padding: 2rem;
}

.portfolio-one h2,
.portfolio-two h2,
.portfolio-three h2 {
  font-weight: 400;
  font-style: italic;
  padding-bottom: 1rem;
}
.portfolio-one p,
.portfolio-two p,
.portfolio-three p {
  margin-bottom: 2rem;
  font-weight: 300;
}

button {
  border: none;
  padding-right: 2rem;
  background-color: transparent;
  cursor: pointer;
  font-weight: bold;
 
}

button:hover {
  opacity: 70%;
}

.portfolio-text {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid black;
  margin-bottom: 3rem;
}

.skills-container h3 {
  font-size: 1.5rem;
  font-weight: normal;
  font-style: italic;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid black;
  padding-top: 3rem;
}

.skills-container p {
  margin: 4rem;
  font-size: 3rem;
  padding-top: 2rem;
  word-spacing: 10px;
  line-height: 4rem;
  font-weight: 300;
}


#contact {
  padding-top: 6rem;
  padding-bottom: 6rem;
  text-align: center;
  font-weight: 300;
  font-size: 3rem;
}

.email {
  font-weight: 400;
  font-style: italic;
  cursor: pointer;
}

.email:hover {
  opacity: 70%;
}

.icons {
  padding:1rem;
}

.fa-brands {
  cursor: pointer;
}

.fa-brands:hover {
  opacity: 70%;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  body {
    margin: 0.5rem;
    height: 100vh;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-left {
    padding: 0;
    margin: 0;
    width: fit-content;
  }
  .hero-left h1 {
    margin-top: 3rem;
    flex-wrap: wrap;
    white-space: nowrap ;
    font-size: 3rem;
    padding-top: 3rem;
    text-align: center;
  }

  .hero-right {
    width: 100%;
  }
  .hero-right img {
    width: 350px !important;
    height: 300px !important;
}

.about-container p {
  text-align: start;
  padding: 0;
  margin: 3rem 1rem 3rem 1rem;
  font-size: 1.8rem;
  line-height: 2rem;
}


.portfolio-container img {
  width: 300px !important;
  height: 300px !important;
}
.portfolio-one,
.portfolio-two,
.portfolio-three {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem ;
}

.text-container {
  margin: 0;
}
  
.skills-container p {
  font-size: 2rem;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem;
  word-spacing: 5px;
  text-align: center;
  padding-top: 2rem;
}

.about h3,
.portfolio-text,
.skills-container h3 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
}