*{
    font-family: 'Raleway', sans-serif;
    color: black;
    box-sizing: border-box;
    margin: 0;
    padding:0;

}

body {
    background-color: #F0E6E6;
    margin: 2rem ;
    height: 100vh;
}

.nav-container ul {
    display: flex;
    justify-content: right;
    list-style: none;
}

.nav-container ul li {
    margin: 1rem;
    list-style: none;   
}

a {
    text-decoration: none;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height:3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

@media(max-width:600px) {

    .body {
        margin: 0;
    }
    .hamburger {
        display: block;
        float: right;
        margin-top: 1rem;
        padding-right: 0.5rem;
    }
    
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
        
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        gap: 0;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        width: 100%;
        padding-top: 2rem;
        text-align: center;
        transition: 0.3s;
        padding-left: 0;
        
    }
    
    
    .nav-item {
        margin: 16px 0;
        color: white;
    }


    .nav-menu.active {
        left:0;
        margin-top: 0;
    }

    .nav-container ul {
        margin-left: 0;
    }

    .hero-right img {
        z-index: -1;
    }
}
.hero-container {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3rem;
}

.hero-right {
 width: 50vw;
 justify-content: center;
 display: flex;
 padding-top: 1rem;
 position: relative;
}


.hero-left {
    width: 50vw;
    padding: 10%  0 0 7%;
    
}

.hero-left h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-left p {
    line-height: 1.3rem;
    padding-bottom: 1rem;
}

.icons ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.fa-brands {
    color: black;
}

.skills-container {
    display: flex;
    gap: 3rem;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.skill {
    text-align: center;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project-one, .project-two, .project-three{
    padding: 2rem;
    display: flex;
}

.text-container {
    padding: 2rem;
}



.project-one p, .project-two p, .project-three p {
    margin-bottom: 2rem;
}

button {
    border: none;
    padding-right: 2rem;
    background-color: #F0E6E6;
    cursor: pointer;
    font-weight: bold;
}

.project-text {
    font-size: 3rem;
    font-weight: normal;
    font-style: italic;
}